.container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 2rem auto;
  padding: 0 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text-100);
  margin: 2rem 0;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 2px;
    background-color: var(--color-primary);
  }
}

.sectionTitle {
  font-weight: bold;
  color: var(--color-text-100);
  margin: 2rem 0;

  position: relative;
  padding-bottom: 1rem;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 45%;
    height: 2px;
    background-color: var(--color-primary);
  }
}

.paragraph {
  color: var(--color-gray-60);
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

.list {
  list-style-type: disc;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.list2 {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--color-gray-60);

  li {
    margin-bottom: 0.5rem;
  }
}

.list li {
  margin-bottom: 0.5rem;
  color: var(--color-gray-60);
}

.list li::marker {
  color: var(--color-primary);
}
