.results {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 1rem;
  justify-content: center;

  .card {
    background: var(--color-surface-700);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-400);
    padding: 2rem;
    text-align: center;
    transition: box-shadow var(--animation-duration-normal);
    position: relative;

    &.card:hover {
      box-shadow: var(--shadow-700);
    }

    .locationBadge {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: var(--border-radius);
      font-size: var(--fz-300);
      color: var(--color-text-700);

      .LocIcon {
        color: var(--color-star);
        font-size: var(--fz-400);
        margin-block-end: -0.05em;
      }
    }

    .image {
      border-radius: var(--border-radius);
      object-fit: contain;
    }
  }

  .title {
    font-size: var(--fz-500);
    font-weight: bold;
    margin: 6px 0 4px;
    color: var(--color-primary);
  }

  .cardModel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: relative;

    .model {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      position: relative;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0.5rem 0;
    font-size: var(--fz-400);
    flex-wrap: wrap;
    color: var(--color-text-400);
  }

  .icon {
    color: var(--color-primary);
  }

  .subtitle {
    font-size: var(--fz-400);
    color: var(--color-text-700);
  }

  /* .badges {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    font-size: var(--fz-200);

    .badge {
      background-color: var(--color-surface-400);
      border-radius: var(--border-radius);
      padding: 1rem 1.4rem;

      border-radius: var(--border-radius);
    }
  } */

  .rental {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.75rem;
    margin-top: 1rem;
  }

  .days_3_to_14,
  .minimum_rental {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: var(--fz-400);

    .redPrice,
    .span2 {
      font-weight: 600;
      padding-left: 0.1rem;
      color: var(--color-text-400);
    }
  }

  .receiveLink,
  .detailsLink {
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius);
    color: var(--color-default-background);
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-block-start: 0.5rem;
    transition: color var(--animation-duration-normal);
  }

  .detailsLink {
    background-color: var(--color-primary);
    color: var(--color-gray-93);
  }

  .receiveLink {
    background-color: var(--color-danger);
    color: var(--color-gray-93);
  }
}
