.radio-filter {
  .title {
    margin-block-end: 0.5rem;

    font-weight: 900;

    /* &:hover {
      background-color: var(--color-surface-400);
    } */
  }

  label {
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;

    &:hover {
      background-color: var(--color-surface-400);
      border-radius: var(--border-radius);
    }
  }
}
