.button {
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  direction: rtl;
  outline: none;
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid currentcolor;
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-opposite);
  }

  .toggle {
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-radius);
    transition:
      transform 0.5s ease,
      background-color 0.5s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    color: var(--color-gray-10);
  }

  .dark {
    background-color: var(--color-gray-30);
    transform: translateX(-2rem);
  }

  .light {
    background-color: #ffd9009c;
    transform: translateX(0);
  }

  .svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
