.card {
  background: var(--color-surface-400);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: var(--shadow-500);
  margin-block-start: auto;
}

.header {
  color: var(--color-primary);
  padding: 0.5rem 0;
  text-align: start;
  font-weight: bold;
  margin-block-end: 1rem;
}

.model {
  color: var(--color-text-400);
  font-size: var(--fz-300);
}

.year {
  font-size: var(--fz-200);
  color: var(--color-gray-70);
}

.priceList {
  margin-block-start: 0.5rem;
}

.priceItem {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--color-border);
}

.price {
  font-weight: bold;
  color: var(--color-primary);
}
