.title {
  font-size: var(--fz-500);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.featureItem {
  padding: 0.5rem 0.75rem;
  background-color: var(--color-surface-700);
  border-radius: var(--border-radius);
  font-size: var(--fz-300);
  color: var(--color-text-400);
}
