.home {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;

  min-block-size: 100%;

  h1 {
    display: inline-flex;
    align-items: center;

    font-size: var(--fz-700);
  }
}
