.footer {
  display: grid;
  grid-template-areas: "writings visuals" "copy copy";
  column-gap: 1rem;
  row-gap: 0.5rem;

  padding-block: 1rem;

  .writings {
    grid-area: writings;

    .logo {
      margin-block-end: 0.25rem;

      font-size: var(--fz-600);
      font-weight: 700;
    }
  }

  .visuals {
    grid-area: visuals;

    display: grid;
    justify-items: center;
    gap: 1rem;

    .certificates {
      display: flex;
      gap: 2rem;
    }

    .socials {
      display: flex;
      gap: 1rem;

      > li {
        a {
          font-size: var(--fz-500);
        }
      }
    }
  }

  .copy {
    grid-area: copy;

    text-align: center;

    span {
      display: inline-block;
      font-size: var(--fz-500);
      margin: 0.25rem;
      color: var(--color-primary);
    }
  }
}
