.stats {
  display: flex;
  gap: 3rem;
  inline-size: min(75rem 100% - 2rem);
  justify-content: center;
  list-style: none;

  >li {
    .value {
      background: linear-gradient(to right, var(--color-primary) 1%, var(--color-primary-darker) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: var(--fz-500);
      font-weight: 800;
      line-height: 1;
    }



    .label {
      font-size: var(--fz-200);
      font-weight: 600;
      line-height: 3;
      justify-content: center;
      display: flex;

    }

  }

  .divider {
    background-color: var(--color-gray-20);

    block-size: 3em;
    inline-size: 2px;
  }
}