.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;


}

.header {
    display: flex;
    align-items: center;

    h3 {
        background-color: transparent;
        color: var(--color-gray-98);
        display: flex;
        align-items: center;
        gap: 0.25rem;
        padding: 0.5rem 0.5rem;
        border: none;
        border-radius: var(--border-radius);

    }
}