.accordionContainer {
    width: 100%;
    max-width: var(--full-width);
    margin: 0 auto;
    padding: 1rem;
}

.accordionItem {
    margin-bottom: 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-surface-400);
    box-shadow: var(--shadow-400);
    transition: all var(--animation-duration-normal) ease;
}

.accordionItem:hover {
    box-shadow: var(--shadow-500);
}

.accordionHeader {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface-300);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-text-400);
    text-align: right;
    transition: background-color var(--animation-duration-fast) ease;
}

.accordionHeader:hover {
    background-color: var(--color-surface-700);
}

.accordionIcon {
    font-size: var(--fz-700);

    color: var(--color-primary);
    transition: transform var(--animation-duration-normal) ease;
}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition:
        max-height var(--animation-duration-normal) ease-out,
        padding var(--animation-duration-normal) ease;
    background-color: var(--color-surface-400);
}

.accordionContent.open {
    max-height: 1000px;
    padding: 1rem;
}

.accordionContent p {
    margin: 0;
    line-height: 1.6;
    color: var(--color-text-700);
}

.accordionItem.open .accordionIcon {
    transform: rotate(180deg);
}

.accordionItem.open .accordionHeader {
    background-color: var(--color-surface-700);
}